<!-- Displays word cloud visualization for Today's News Mode -->

{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}">
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <title>Word Cloud Visualization</title>
</head>

<body style = "background:#DCDCDC">

<div class = "jumbotron">
    <h1 align = "center"><strong>WorldNews</strong></h1>
    <h4 align = "center"><i>A news retrieval, translation and visualization tool</i></h4>
</div>

<div class="row" style="vertical-align: middle">
    <!-- Display Category -->
    <h2 style="text-align: center"><strong><i>Word Cloud Visualization for {{ category_name }} News</i></strong></h2><br>
    <div class="col-md-4" style="margin: 0%; padding: 0%;">
        <!-- Display word cloud for trending topics in Country 1 -->
        <img class="img-responsive" style="margin: 0%; padding: 0%;" src= "{% static 'images/wordcloud_1.png' %}">
    </div>

    <div class="col-md-4" style="margin: 0%; padding: 0%;">
        <!-- Display word cloud for common trending topics -->
        <img class="img-responsive" style="margin: 0%; padding: 0%;" src= "{% static 'images/wordcloud_3.png' %}">
    </div>

    <div class="col-md-4" style="margin: 0%; padding: 0%;">
        <!-- Display word cloud for trending topics in Country 2 -->
        <img class="img-responsive" style="margin: 0%; padding: 0%;" src= "{% static 'images/wordcloud_2.png' %}">
    </div>
</div>

<div class="col-md-12" style="height:10%;"></div>

<div class="col-md-12" style="text-align: center">
    <!-- Display Legend -->
    <h4><strong><u>Legend</u></strong></h4>
    <h4><span style="width: 2%; height: 2%; display: inline-block; border: thin; background-color: darkblue;"></span><i> Trending Topics in {{ country_1_name }}</i></h4>
    <h4><span style="width: 2%; height: 2%; display: inline-block; border: thin; background-color: darkgreen;"></span><i> Common Trending Topics</i></h4>
    <h4><span style="width: 2%; height: 2%; display: inline-block; border: thin; background-color: darkred;"></span><i> Trending Topics in {{ country_2_name }}</i></h4>
</div>

<div class="col-md-12" style="height:10%;"></div>

<div class="row">
    <div class="col-md-12" style="text-align: center">
        <a href="{% url "newsapp:index" %}" class="btn btn-danger">Go Back to Home</a>
    </div>
</div>

<div class="col-md-12" style="height:10%;"></div>

<div class="container col-md-12">
    <div style="font-family:courier">
        <div class="col-md-4" style="text-align: center">
            <p>FYP SCE16-0112 HOW THE WORLD VIEWS ITSELF?</p>
        </div>

        <div class="col-md-4" style="text-align: center">
            <p>Prepared by Ramakrishnan Vrajaraj</p>
        </div>

        <div class="col-md-4" style="text-align: center">
            <p>School of Computer Science & Engineering, NTU</p>
        </div>
    </div>
</div>
</body>
</html>